* {
  margin: 0;
  font-family: "Rubik", sans-serif;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --grey: hsl(0, 0%, 70%);
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: 3fr repeat(2, 0.5fr) 5fr;
  height: 100vh;
  background-image: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}


.map {
    grid-row: 2/-1;
    grid-column: 1/-1;
    z-index: 50;
}

.content {
  grid-row: 1/4;
  grid-column: 2/4;
  z-index: 100;
  display: grid;
  gap:20px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 0.5fr repeat(4,1fr);
  gap:5px;
}

.header{
    grid-column: 2/4;
    grid-row:2/3;
    display: grid;
    align-content: center;
}

.header h1 {
  text-align: center;
  font-weight: 500;
  color: var(--white);
}

.details {
  background-color: var(--white);
  padding: 4%;
  border-radius: 15px;
  box-shadow: 0px 20px 30px -12px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 0px 20px 30px -12px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 20px 30px -12px rgba(0, 0, 0, 0.31);
  z-index: 100;
  grid-column: 1/5;
  grid-row: 4/6;

  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:5%;
}
.details h2{
    font-size:0.7rem;
    text-transform: uppercase; 
    color: var(--grey);
    padding-bottom: 12px;
}
.details p {
font-weight: 500;
font-size: 1.5rem;
}

.details > div:not(:last-child){
    border-right: 1px solid var(--grey);
}

form {
  grid-column: 2/4;
  grid-row:3/4;
  display: inline-flex;
  margin: 2% 0 5% 0;
  
}
input[type="text"] {
  background-color: var(--white);
  border: none;
  border-radius: 10px 0px 0px 10px;
  padding: 2%;
  width: 680px;
   color: hsl(0,0%,45%);
  font-size: 1rem;
  cursor: pointer;
}
.submit {
  background-color: var(--black);
  border: none;
  padding: 3%;
  border-radius: 0px 10px 10px 0px;
  width: 55px;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}
.submit:hover{
  background-color: hsl(0, 0%, 17%);
}

.alert{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.31);
  z-index: 200;
    overflow: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.popup{
  width:400px;
  padding:15% 5%;
  background-color: var(--white);
  text-align: center;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}


.certainly {
  background-color: var(--black);
  border: none;
  padding: 3%;
  border-radius: 10px;
  color: var(--white);
  margin-top:10%;
  font-weight: 700;
  cursor: pointer;
}

.hidden{
  display: none;
}


@media only screen and (max-width:960px){

  
  .details{
    display: block;
    text-align: center;
    padding:10%;
    height: 27vh;
    
  }

  form{
    grid-column: 2/3;
  }

  input[type="text"]{
    width:534px;
  }

  .submit{
    width:65px;
  }
  .details > div:not(:first-child){
    padding-top:5%;
  }
  .details > div{
   border: none !important;
  }
}

@media only screen and (max-width:600px) {
.container{
  grid-template-rows: 1.5fr 0.5fr 0.5fr 4.5fr;
      background-size:cover;
}
  
  .details {
    display: block;
    text-align: center;
    height: 30vh;

  }

  .details p{
    font-size: 1rem;
  }

  .header h1{

    font-size: 1.5rem;
  }

  form {
    padding: 2%;
    height: 60px;

  }

  input[type="text"] {
    width: 210px;
    font-size: 0.8rem;
    border-radius: 15px 0px 0px 15px;
  }

  .submit {
    width: 65px;
    border-radius: 0px 15px 15px 0px;
  }

  .details>div:not(:first-child) {
    padding-top: 8%;
  }

  .map{
    grid-row:4/ -1
  }


}
